  .heading
  {
    width: 90%;
    background-color: #e9e9b3;
    padding: 1.5rem;
    font-size: 5rem;
    border-radius: 0.2rem;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  canvas{
    border-radius: 0.4rem;
  }